<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sahdeepsingh.Bop">

    <!-- So we can play songs while the device is locked -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- So we can save new Playlists on the disc -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme.Base">
        <activity
            android:name=".ui.ActivityMenuSettings"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.XXX"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.ActivityQuit"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Services (run on the background) -->
        <service
            android:name=".services.ServicePlayMusic"
            android:enabled="true"
            android:stopWithTask="false"/>
        <service
            android:name=".services.ServiceScrobbleMusic"
            android:enabled="true" />

        <!--
          Allows specific classes to handle broadcasts
          -  (on this case, two buttons clicked on the Notification)
        -->
        <!--
        <receiver android:name=".NotificationMusic$NotificationPlayButtonHandler" />
        <receiver android:name=".NotificationMusic$NotificationSkipButtonHandler" />
        -->

        <receiver android:name=".notifications.NotificationMusic$NotificationPlayButtonHandler" />
        <receiver android:name=".notifications.NotificationMusic$NotificationSkipButtonHandler" />
        <receiver android:name=".notifications.NotificationMusic$NotificationStopButtonHandler"/>
        <!--
          This static class will keep an eye when the following
          -  activities happen.
        -->
        <receiver android:name=".services.ServicePlayMusic$ExternalBroadcastReceiver">
            <intent-filter>

                <!-- Disconnected Headphones -->
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MainScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PlayingNow" />

    </application>

</manifest>